<section class="container">
    <div class="top">
        <div class="dash">
            <img src="Admin/dashboard/top-icon.png" alt="" class="icon-top">
            <p>Customer</p>
        </div>

        <div class="admin">
            <img src="Admin/dashboard/custom_blue.png" alt="" class="adminIcon">
            <p style="padding-left: 5px;">Admin</p>
            <img src="Admin/dashboard/arrow.png" alt="" class="arrowIcon">
        </div>
    </div>

    <section class="sec-0">
        <div class="flex">
            <a routerLink="/admin/appointments/appointments-list" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span><img src="Admin/appointment/apptmnt.png" alt="">Appointments</span>
            </a>
        </div>
        <div>
            <router-outlet/>
        </div>
    </section>
</section>