<section class="container">
    <div class="top">
        <div class="dash">
            <img src="admin-img/dashboard/top-icon.png" alt="" class="icon-top">
            <p>Mechanics</p>
        </div>

        <div class="admin">
            <img src="admin-img/dashboard/custom_blue.png" alt="" class="adminIcon">
            <p style="padding-left: 5px;">{{user?.firstName}}</p>
        </div>
    </div>

    <section class="sec-0">
        <div class="flex">
            <a routerLink="/admin/mechanic/mechanic-list" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span><img src="admin-img/mechanic/mechanic.png" alt="">Mechanics</span>
            </a>
            <a routerLink="/admin/mechanic/mechanic-add" routerLinkActive="active">
                <span><img src="admin-img/customer/add.png" alt="">Add</span>            
            </a>
        </div>
        <div>
            <router-outlet/>
        </div>
    </section>
</section>