<div id="customer-appointment">
    <div id="appo-top">
        <h4>My Appointments</h4>
        <button id="makeAppo" (click)="toggleAppoForm()">Make an Appointment</button>
    </div>
    <hr>
    <app-search-bar></app-search-bar>
    <div class="overflow-x-auto">
        <table id="cus-appo-table" class="min-w-full">
            <thead>
                <tr>
                    <th><i class="fas fa-hashtag"></i></th>
                    <th><i class="fas fa-file-alt"></i>  Description</th>
                    <th><i class="far fa-calendar-alt"></i>  Date</th>
                    <th><i class="fas fa-check-circle"></i>  Status</th>
                    <th><i class="fas fa-cogs"></i>  Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                    <td>Data 3</td>
                    <td>Data 3</td>
                </tr>
                <tr>
                    <td>Data 4</td>
                    <td>Data 5</td>
                    <td>Data 6</td>
                    <td>Data 6</td>
                    <td>Data 6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-new-appointment-form *ngIf="isNewAppoForm"></app-new-appointment-form>
