<div id="customer-appointment">
    <div id="appo-top">
        <p>My Appointments</p>
        <button id="makeAppo" (click)="toggleAppoForm()">Make an Appointment</button>
    </div>
    <hr>
    <app-search-bar></app-search-bar>
    <div class="overflow-x-auto">
        <table id="cus-appo-table" class="min-w-full">
            <thead>
                <tr>
                    <th><i class="fas fa-hashtag"></i></th>
                    <th><i class="fas fa-file-alt"></i>  Description</th>
                    <th><i class="far fa-calendar-alt"></i>  Date</th>
                    <th><i class="far fa-clock"></i>  Hour</th>
                    <th><i class="far fa-sticky-note"></i>  Note</th>
                    <th><i class="fas fa-check-circle"></i>  Status</th>
                    <th><i class="fas fa-cogs"></i>  Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments; let i = index">
                    <td> {{ i + 1 }}</td>
                    <td id="num">{{ appointment.appoDesc }}</td>
                    <td id="date">{{ appointment.appoDate }}</td>
                    <td id="hour">{{ appointment.appoHour }}</td>
                    <td id="note">{{ appointment.appoNote }}</td>
                    <td id='status' [ngStyle]="{ color: appointment.appoStatus === 'Pending' ? 'orange' : appointment.appoStatus === 'Confirmed' ? 'lightgreen' : 'red' }">{{ appointment.appoStatus }}</td>
                    <td id="action">
                        <button id="editAppo" class="btn btn-primary">Edit</button>
                        <button id='deleteAppo' class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-new-appointment-form *ngIf="isNewAppoForm"></app-new-appointment-form>
