<div id="customer-intervention">
    <div id="inter-top">
        <h4>My Cars</h4>
    </div>
    <hr>
    <div id="optionsBar">
        <app-search-bar></app-search-bar>
        <div id="filterButton">
            <i class="fas fa-filter"></i>
            <button>Filter</button>
        </div>
    </div>
    <table id="cus-inter-table">
        <thead>
            <tr>
                <th><i class="fas fa-hashtag"></i></th>
                <th><i class="fas fa-file-alt"></i> Description</th>
                <th><i class="far fa-calendar-alt"></i> Date</th>
                <th><i class="fas fa-dollar-sign"></i> Price</th>
                <th><i class="fas fa-check-circle"></i> Status</th>
                <th><i class="fas fa-cogs"></i> Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>Data 3</td>
                <td>Data 3</td>
                <td>Data 3</td>
            </tr>
            <tr>
                <td>Data 4</td>
                <td>Data 5</td>
                <td>Data 6</td>
                <td>Data 6</td>
                <td>Data 6</td>
                <td>Data 6</td>
            </tr>
        </tbody>
    </table>
</div>
