<div (click)="toggleAnswer()"
    class="question-section"
    data-aos="fade-up" 
    data-aos-delay="300" 
    data-aos-duration="500" 
    data-aos-easing="ease-in-out" 
    data-aos-offset="200" 
    data-aos-anchor-placement="top-bottom"
>
    <div class="question" >
        <p>{{ question }}</p>
        <div class="tooggle-button">{{ showAnswer ? '-' : '+' }}</div>
    </div>
    <div class="answer"  [@expandCollapse]="showAnswer ? 'expanded' : 'collapsed'"
        *ngIf= "showAnswer"
    >
        <p>{{ answer }}</p>
    </div>
</div>