<div class="section-title">
    <div>
        <p>Contact Us </p>
    </div>
    <div>
        <hr style="width: 200px; height: 4px; background-color:#333">
    </div>
</div>

<section id="footer">
    <div class="left">
        <div class="contact">
            <div class="cont">
                <img src="frontpage/email.png" alt="emailIcon">
                <p>garazymadagascar&#64;gmail.com</p>
            </div>
            <div class="cont">
                <img id="phone" src="frontpage/phone.png" alt="emailIcon">
                <p id="numero">
                    +261346756734<br>
                    +261321202312<br>
                    +261334500509
                </p>
            </div>
            <div class="cont">
                <img src="frontpage/facebook.png" alt="emailIcon">
                <p>garazymadagascar</p>
            </div>
        </div>
        <div class="ourName">
            <p>ANDRIANANTENAINA Faniry Jonathan</p>
            <p>RAZANAMAHERY Herinantenaina Toavina</p>
        </div>
    </div>
    <div class="right">
        <div id="yellowBox">
        </div>
        <div id="greyBox">
        </div>
        <img id="toyota" src="frontpage/toyota.png" alt="toyotaImage" id="4x4">
    </div>
</section>
