.performance-circle {
    display: flex;
}
circle {
  transition: stroke-dashoffset 0.5s ease-in-out;
}

p{
  font-size: 12px;
}

div div{
  margin-left:40px;
  align-self: center;
  text-align: center;
}
