<div class="top-employee">
    <div *ngIf="topEmployee" class="employee-card">
      <div class="employee-info">
        <div class="flex">
          <img src="" alt="">
          <div class="info">
            <span class="employee-name">{{ topEmployee.name }}<br></span> <br><br>
            <span class="employee-services"><p style="color: #1573B3;">{{ topEmployee.serviceCount }} </p>services</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!topEmployee" class="no-data">
      No data available.
    </div>
</div>