.top-employee{
    font-size: 13px;
}

img{
    border-radius: 50%;
    border: 2px solid black;
    height:80px;
    width: 80px;
    margin-top:15px
}

.flex{
    display: flex;
}
.info{
    margin-left: 20px ;
    margin-top: 15px;
    text-align: center;
}
