<div class="section-title">
    <div>
        <p>Our best-selling services. <a href="all">View All</a></p>
    </div>
    <div>
        <hr style="width: 200px; height: 4px; background-color:#333">
    </div>
</div>
<section>
    <app-service-card
        imageUrl='assets/frontpage/image/bgSection1.png'
        description="30 min"
        title="Oil Change"
    >
    </app-service-card>
    <app-service-card
        imageUrl="../../assets/frontpage/image/oilChange.png"
        description="30 min"
        title="Brake inspection and repair"
    >
    </app-service-card>
    <app-service-card
        imageUrl="../../assets/frontpage/image/oilChange.png"
        description="30 min"
        title="Engine Diagnostics"
    >
    </app-service-card>
    <app-service-card
        imageUrl="../../assets/frontpage/image/oilChange.png"
        description="30 min"
        title="Heat system repair"
    >
    </app-service-card>
</section>
