<div class="section-title">
    <div data-aos="fade-right">
        <p>Our best-selling services. <a href="all">View All</a></p>
    </div>
    <div data-aos="fade-left">
        <hr style="width: 200px; height: 4px; background-color:#333">
    </div>
</div>
<section id="section-2">
    <app-service-card
        imageUrl='frontpage/oilChange.png'
        title="Oil Change"
        duration="30"
        price="30"
        category="Maintenance Services"
    >
    </app-service-card>
    <app-service-card
        imageUrl="frontpage/brake.png"
        title="Brake inspection and repair"
        duration="30"
        price="30"
        category="Maintenance Services"
    >
    </app-service-card>
    <app-service-card
        imageUrl="frontpage/diagnostic.png"
        title="Engine Diagnostics"
        duration="30"
        price="30"
        category="Maintenance Services"
    >
    </app-service-card>
    <app-service-card
        imageUrl="frontpage/repair.png"
        title="Heat system repair"
        duration="30"
        price="30"
        category="Maintenance Services"
    >
    </app-service-card>
</section>
