@use '../../../styles.scss' as *;

#customer-appoinment {
    margin-right: 50px;
}

#appo-top {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    
    #addCar {
        @include btn;
        background-color: $mainBlue;
        color: white;
        border: none;
    }
}

hr {
    border-color: $lightGrey;
    margin: 10px 0px;
}

#cus-appo-table {
    text-align: right;
    font-weight: lighter;
    width: 1200px;
    border-collapse: collapse;
    
    thead {
        th {
            padding: 10px 0px;
        }
    }
    tbody {
        border: solid 1px $lightGrey;
        border-radius: 10px;
        tr {

            color: #7C7C7C;
            td {
                padding: 10px 5px;
                button {
                    padding: 5px 15px;
                    margin: 0px 5px;
                    border-radius: 5px;
                    color: white;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

#editAppo {
    background-color: $mainYellow;
}

#deleteAppo {
    background-color: tomato;
}

@media screen and (max-width: 1000px) {

    #cus-appo-table {
        width: 700px;
    }

    #cus-appo-table th,
    #cus-appo-table td{
        font-size: 10px;
        padding: 5px 5px;
    }

    #editAppo {
        font-size: 10px;
        width: 50px;
        height: 20px;
    }

    #deleteAppo {
        font-size: 10px;
        height: 20px;
        width: 50px;
    }

    #appo-top {
        p {
            font-size: 10px;
        }
    }
}


#note {
    width: 150px;
}

