<div class="section-title">
    <div>
        <p>Often Asked Questions </p>
    </div>
    <div>
        <hr style="width: 200px; height: 4px; background-color:#333">
    </div>
</div>
<section id="section-3">
    <app-questions
        question="Where are we located ?"
        answer="Where are located at Ambohimangakely, just in front of the Jovenna station"
    ></app-questions> 
    <app-questions
        question="Do you service electric or hybrid car ?"
        answer="We can repair any type of car"
    ></app-questions>
    <app-questions
        question="What payment methods do you accept ?"
        answer="We accept cash, mobile money and card payment"
    ></app-questions> 
    <app-questions
        question="Do you offer pickup or drop-off services for my car ?"
        answer="It depends on your location, but usually we always offer pickup when it's a major problem"
    ></app-questions>
    <app-questions
    question="Do you offer pickup an drop-off services for my car ?"
    answer="Where are located at Ambohimangakely, just in front of the Jovenna station"
    ></app-questions>
</section>
