<!-- <div class="calendar">
    <div class="week" *ngFor="let week of weeks">
      <div class="day" *ngFor="let day of week">
        <div *ngIf="day; else emptyDay">
          <div class="date">{{ day.getDate() }}</div>
          <div class="events">{{ getEventCount(day) }} events</div>
        </div>
        <ng-template #emptyDay>
          <div class="empty-day"></div>
        </ng-template>
      </div>
    </div>
  </div> -->

  <div class="calendar">
    <!-- Days of the Week Header -->
    <div class="week-header">
      <div class="day-header" *ngFor="let day of daysOfWeek">
        {{ day }}
      </div>
    </div>
  
    <!-- Calendar Grid -->
    <div class="week" *ngFor="let week of weeks">
      <div class="day" *ngFor="let day of week">
        <div *ngIf="day; else emptyDay">
          <div class="date" >{{ day.getDate() }}</div>
          <div class="events" title="Appointment" [ngClass]="{ 'no-events': getEventCount(day) == 0 }">
            {{ getEventCount(day) }} 
          </div>
        </div>
        <ng-template #emptyDay>
          <div class="empty-day"></div>
        </ng-template>
      </div>
    </div>
  </div>