.calendar {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-collapse: collapse;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 15px;
}
  
.week {
display: flex;
}

.week-header {
display: flex;
background-color: #f0f0f0;
font-weight: bold;
}

.day-header {
flex: 1;
padding: 10px;
text-align: center;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
width:65px;
}

.day {
    position: relative;
    flex: 1;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    min-height: 37px;
    width: 70px;
}
  
.empty-day {
    background-color: #f9f9f9;
  }
  
.date {
    
    position: absolute;
    top:5px;
    right: 5px;
    font-size: 15px;
  }
  
.events {
    position: absolute;
    font-size: 0.8em;
    color: #666;
    bottom: 5px;
    left:5px;
    padding: 2px;
    border-radius: 50%;
    background-color: #1573B3;
    color: white;
    font-size: 9px;
    width: 11px;
}

.today{
  background-color: rgba($color:#E9B800 , $alpha: 0.3);
}
.no-events{
  display: none;
  background-color: #b31515;
}