<div id="newAppointment">
    <form action="">
        <h4>New Appointment</h4>
        <div class="form-group">
            <label for="appo-desc">Description</label>
            <div class="input-group">
                <select id="appo-desc" name="appo-desc" class="form-control">
                    <option value="option1">Oil Change</option>
                    <option value="option2">Engine Diagnostics</option>
                    <option value="option3">Heat system Repair</option>
                </select>
            </div>
            <div class="line"></div>
        </div>

        <div class="form-group">
            <label for="appo-date">Date</label>
            <div class="input-group">
                <input type="date" id="appo-date" name="appo-date" class="form-control">
            </div>
            <div class="line"></div>
        </div>

        <div class="form-group">
            <label for="appo-hour">Hour</label>
            <div class="input-group">
                <input type="time" id="appo-hour" name="appo-hour" class="form-control">
            </div>
            <div class="line"></div>
        </div>

        <div class="form-group">
            <label for="appo-note">Full Name</label>
            <div class="input-group">
                <textarea id="appo-note" name="appo-note" class="form-control"></textarea>
            </div>
        </div>

        <button id="addAppo">Confirm</button>
    </form>
</div>
