@use '../../../styles.scss' as *;

.service-card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 260px;
  height: 467px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    border: solid $mainBlue 2px;
    width: 257px;
  }
  
}



.service-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.service-card p {
  margin-top: 12px;
  font-size: 16px;
  color: #333;
}

a{
    @include btn;
    background-color: $mainBlue;
    color: white ;
    text-align: center;
}

.imgCase {
    height: 200px;
    background-image: url('../../assets/frontpage/image/diagnostic.png');
}