@import '../../../styles.scss';

#section-1 {
    @include section;
    color: white;
    background-image: url('../../assets/frontpage/image/bgSection1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

.presentation {
    font-size: 32px;
    font-weight: 100;
}


.btnHolder {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 550px;

    #createAccount {
        @include yellowButton;
        color: white;
    }

    button {
        @include btn;
        font-size: 20px;
        width: 250px;
    }
}