@import '../../../styles.scss';
@import "tailwindcss";
#section-1 {
    @include section;
    color:black;
    background: linear-gradient(to right, rgb(255, 255, 255),rgba(255, 255, 255, 0.829), rgba(32, 32, 32, 0)), url('../../../../public/frontpage/beautifulBG.webp') center/cover no-repeat;
    // background-image: url('../../../../public/frontpage/beautifulBG.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

.presentation {
    font-size: 32px;
    font-weight: 100;
}


.btnHolder {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 550px;

    #createAccount {
        @include yellowButton;
        color: white;
    }

    button {
        @include btn;
        font-size: 20px;
        width: 250px;
    }
}