.profil{
    display: flex;    
}

.profilChild{
    display: inline-block;
    width:fit-content;
    
}

.profilPicture{
    width:fit-content
}



img{
    height:13px;
    width:13x;
}

nav{
    background-color: #1573B3;
    color:white;
    font-size:10px;
    width: 150px;  
}

li{
    list-style: none;
}
ul{
    margin:0;
    padding:0;
}