<nav>
    <p class="title">Garazy</p>
    <div class="profil">
        
            <img src="Admin/profil_default.png" class="profilPicture">
        
        <div class="profilChild">
            <p>Welcome</p>
            <p style="color:rgba(255, 255, 255, 0.6)">Admin</p>
        </div>
    </div>
    <div>
        <ul>
            
                <a routerLink="/dashboard" routerLinkactive="active">
            <li>
                    <img class="li_image" src="Admin/dashboard.png">
                    <p class="liContent">Dashboard</p>
                
            </li>
            </a>
            
                <a routerLink="/customer" routerLinkactive="active">
            <li>
                    <img class="li_image" src="Admin/customer.png">
                    <p class="liContent">Customers</p>
                
            </li>
            </a>
            
                <a routerLink="/mechanic" routerLinkactive="active">
            <li>
                    <img class="li_image" src="Admin/mechanic.png" alt="">
                    <p class="liContent">Mechanics</p>
                
            </li>
            </a>
            
                <a routerLink="/services" routerLinkactive="active">
            <li>
                    <img class="li_image" src="Admin/service.png" alt="">
                    <p class="liContent">Services</p>
                
            </li>
            </a>
        </ul>
    </div>
</nav>