<nav>
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">  
        <p class="title">Garazy</p>
    </a>
    <div class="profil">
        
            <img src="Admin/navbar/profil_default.png" class="profilPicture">
        
        <div class="profilChild">
            <p>Welcome</p>
            <p style="color:rgba(255, 255, 255, 0.6)">Admin</p>
        </div>
    </div>
    <div>
        <ul>
            <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
                <li>
                    <img class="li_image" src="Admin/navbar/dashboard.png">
                    <p class="liContent">Dashboard <span style="width:55px"></span></p>
                
                </li>
            </a>
            
            <a routerLink="/customer" routerLinkActive="active" ariaCurrentWhenActive="page">
                <li>
                    <img class="li_image" src="Admin/navbar/customer.png">
                    <p class="liContent">Customers <span style="width:57px"></span></p>
                
                </li>
            </a>
            
            <a routerLink="/mechanic" routerLinkActive="active" ariaCurrentWhenActive="page">
                <li>
                    <img class="li_image" src="Admin/navbar/mechanic.png" alt="">
                    <p class="liContent">Mechanics <span style="width:57px"></span></p>
                
                </li>
            </a>
            
            <a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">
                <li>
                    <img class="li_image" src="Admin/navbar/service.png" alt="">
                    <p class="liContent">Services <span style="width:66px"></span></p>
                
                </li>
            </a>

            <a routerLink="/appointment" routerLinkActive="active" ariaCurrentWhenActive="page">
                <li>
                    <img class="li_image" src="Admin/navbar/appointment.png" alt="">
                    <p class="liContent">Appointments <span style="width:41px"></span></p>
                </li>
            </a>
        </ul>
    </div>
</nav>