<nav>
    <p class="title">Garazy</p>
    <div class="profil">
        
            <img src="Admin/profil_default.png" class="profilPicture">
        
        <div class="profilChild">
            <p>Welcome</p>
            <p style="color:rgba(255, 255, 255, 0.6)">Admin</p>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <img class="li_image" src="Admin/dashboard.png">
                <p>Dashboard</p>
            </li>
            <li>
                <img class="li_image" src="Admin/customer.png">
                <p>Customers</p>
            </li>
            <li>
                <img class="li_image" src="Admin/mechanic.png" alt="">
                Mechanics
            </li>
            <li>
                <img class="li_image" src="Admin/service.png" alt="">
                Services
            </li>
        </ul>
    </div>
</nav>